.ant-layout-sider {
    flex: 0 0 225px;
    max-width: 225px !important;
    min-width: 225px !important;
    width: 225px !important;
    background-color: #1e90ff;
    & .brand-sider {
        line-height: 64px;
        height: 64px;
        & .logo {
            background-size: cover;
            margin: 0 auto;
            height: 40px;
            width: 40px;
        }
        & .logo-text {
            font-size: 24px;
            color: rgba($color: #ffffff, $alpha: 1);
            margin: 0 auto;
        }
    }
    & .avatar {
        padding: 24px 0;
        & .avatar-item {
            text-align: center;
            margin: 0 auto;
            & .name-user {
                font-size: 15px;
                margin-top: 8px;
                color: rgba($color: #ffffff, $alpha: .8);
            }
        }
    }
    & .ant-menu {
        background: transparent;
        border: none;
        & .ant-menu-item-group-title {
            color: rgba($color: #ffffff, $alpha: .5);
        }
        & .ant-menu-item,
        & .ant-menu-submenu-title {
            color: rgba($color: #ffffff, $alpha: .8);
            & a {
                color: rgba($color: #ffffff, $alpha: .8);
            }
        }
        & .ant-menu-item-selected {
            color: rgba($color: #ffffff, $alpha: 1);
            & a {
                color: rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
    & .ant-divider {
        background-color: rgba($color: #ffffff, $alpha: .2);
    }
    & .ant-layout-sider-trigger {
        background-color: #1e90ff;
        width: 225px !important;
    }
}

.ant-menu-vertical .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-inline .ant-menu-item:after {
    display: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
}